<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title lab
    link(rel="stylesheet", href="css/all.css")
    script(src="js/vendors.js")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
  body
    h1.title|BOOM
    table.container
    .form
      p|簡單模式 (炸彈10顆)
      input(type="radio" value="easy" name="boomBtn" checked)
      p|中等模式 (炸彈50顆)
      input(type="radio" value="medium" name="boomBtn")
      p|困難模式 (炸彈100顆)
      input(type="radio" value="difficult" name="boomBtn")
  script(src="js/all.js")
